$cloud-burst:  #093554;
$sun: #f7ab1b;
$kashmir-blue: #44689a;

$azure:#058ed8;
$soft-azure: #87bafc;
$dark-violet: #42448e;
$electric-violet: #7a7fff;
$burnt-sun: #f38d00;

$charcoal: #2d2d2d;
$green: #399847;
$light-grey: #f4f7f9;
$red: #c00023;
$white: #fff;





